* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(./img/background.png);
  /* color: #f04848 */
}

nav{
  color: #f04848
}

.logo-header {
  font-size: 48px;
  font-weight: bold;
  color: #f04848;
  position: relative;
  text-align: center;
  padding-left: 8px;
  display: inline;
  border-style:ridge;
  text-decoration: none;
}

header {
  display: inline;
  align-items: center;
}

.navegacao {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.navegacao .menu {
  display: inline-flex;
  list-style-type: none;
  margin-left: auto;
 
}

.menu .item-menu a {
  font-size: 32px;
  color: #f04848;
  margin-right: 4rem;
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
}
.menu .item-menu a:hover {
  font-size: 32px;
    color: #f04848;
    margin-right: 4rem;
    position: relative;
    padding: 10px 15px;
    text-decoration: underline;
    font-weight: bold;
  

}

.img-github {
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  display: block;
}

h1, h2, h3{
  color: white;
  text-align: center;
}

.links {
  color: #f04848;
  text-decoration: none;
}
address{
  color: #f04848;
  text-align: center;
}

.form-color {
  color: #f04848;
  /* background-color: #f04848; */
  font-weight: bold;
}

button:hover {
  background-color: white;
  color: #f04848;
  font-weight: bold;
}

button {
  background-color: #f04848;
  color: white;
  font-weight: bold;
}

form{
  width: 400px;
  height: 100px;
  margin: auto;
  display: block;
}