*{
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  padding: 16px;
  background-color: rgba(255, 0, 0, 0.928);
}

header input {
  padding: 8px;
}


.div-busca {
  margin-left: auto;
}




